<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mffff-新增品牌</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>-->
    <script src="./libs/js/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="./libs/css/index.css">
    <link rel="shortcut icon" href="./libs/icon/huawei.jpeg">
    <script src="./libs/js/axios.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
</head>
<body>
<div id="app">
    <!-- 筛选部分  -->
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="名称">
            <el-input v-model="formInline.name" placeholder="名称"></el-input>
        </el-form-item>
        <el-form-item label="公司">
            <el-input v-model="formInline.company" placeholder="公司"></el-input>
        </el-form-item>
        <el-form-item label="状态">
                <el-select v-model="formInline.status" placeholder="状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
            <el-button type="primary" @click="dialogFormVisible = true">新增</el-button>
        </el-form-item>
    </el-form>
    <!-- 新增的弹窗  -->
    <el-dialog title="新增品牌" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="名称" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="公司" :label-width="formLabelWidth">
                <el-input v-model="form.company" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="form.sort" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-switch
                        v-model="form.status"
                        :active-value=1
                        :inactive-value=0
                        inactive-color="#ff4949">
                </el-switch>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addSubmit()">确 定</el-button>
        </div>
    </el-dialog>
    <!-- 修改弹窗   -->
    <el-dialog title="修改品牌" :visible.sync="dialogFormVisibleUpdate">
        <el-form :model="formUpdate">
            <el-form-item label="名称" :label-width="formLabelWidth">
                <el-input v-model="formUpdate.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="公司" :label-width="formLabelWidth">
                <el-input v-model="formUpdate.company" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="formUpdate.sort" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-tooltip :content="'Switch value: ' + formUpdate.status" placement="top">
                    <el-switch
                            value="formUpdate.status"
                            v-model="formUpdate.status"
                            :active-value=1
                            :inactive-value=0>
                    </el-switch>
                </el-tooltip>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisibleUpdate = false">取 消</el-button>
            <el-button type="primary" @click="updateSubmit()">确 定</el-button>
        </div>
    </el-dialog>
    <!-- 页面表格表头 -->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                :header-cell-style="{ textAlign: 'center' }"
                :cell-style="{ textAlign: 'center' }"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="ID"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="company"
                    label="公司">
            </el-table-column>
            <el-table-column
                    prop="sort"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态">
<!--                    :formatter="handleStatus">-->
                <template slot-scope="scope">
<!--                    <el-popover trigger="hover" placement="top">-->
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.status == 1 ? '开启': '关闭' }}</el-tag>
                        </div>
<!--                    </el-popover>-->
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!-- 分页   -->
    <el-pagination
            background
            layout="prev, pager, next, total"
            @current-change="getCurrentPage"
            :total="totalCount">
    </el-pagination>
</div>
</body>
<script src="./libs/js/index.js"></script>
</html>