<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
        <p>n的值是: {{n}}</p>
        <button @click="n++">点击加1</button>
        <div v-if="n === 1">1</div>
        <div v-else-if="n === 2">2</div>
        <div v-else-if="n === 3">3</div>
        <div v-else>0</div>
        <span v-if="testing">testing</span>
        <!-- template模版语法 在页面展示的时候就去除了模版 -->
        <!-- 改动多的用v-show ，v-show是用的css格式将页面隐藏了   v-if在页面上是直接就清除了 -->
        <template v-if="n === 1">
            <div>ok1</div>
            <div>ok2</div>
        </template>
    </div>
</body>
<script>
    new Vue({
        el: "#root",
        data: {
            ok: true,
            n:0,
            testing: true
        }
    })
</script>
</html>