<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>首页</h3>
<!--  解决tomcat配置的上下文路径  用thymeleaf解决，@{}把路径放里面，会自动解析 如果是/开头的跟路径，会自动加 上下文 路径，
  上下文路径就是tomcat 配置中 application context 的路径-->
    <a th:href="@{/target}">访问目标页面</a>
</body>
</html>